.ColorBlock {
  float: left;
  padding: 2px;
  width: "100%";
  height: "700px";
  text-align: "center";
}

.BlockContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}
