@font-face {
  font-family: "openSans";
  src: local("openSans"),
    url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("ttf");
}

.ColorBlock {
  padding: 100px 0;
  height: 500px;
  text-align: center;
  font-family: url("./fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}

.hexText {
  font-size: 70px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
}

#BlockContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.copyInstructions {
  font-size: 20px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
}

.toggleDiv {
  background-color: red;
}

input[type="checkbox"] {
  display: none;
}
.label {
  display: block;
  text-align: center;
  height: 55px;
  padding: 3px;
  color: white;
  background: url("./icons/heart-outline.svg") no-repeat center;
  user-select: none;
}
input[type="checkbox"]:checked + .label {
  background: url("./icons/heart-filled.svg") no-repeat center;
  user-select: none;
}
